/*
0-480px: Small Phones 
480 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop


1em = 16px
*/
/*
COLORS:

Light purple: #b6afec   
Medium purple: #8982db
Dark purple: #4d40b2
Green: #d2e188
Cream: #fff8de











*/


.ac-overlay {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 1);
  z-index: 99998;
  opacity: 0;
  cursor: wait;
}

.ac-container {
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;
  width: 360px;
  position: fixed;
  padding: 20px 20px 30px 20px;
  background: rgba(148, 106, 62, 1);
  z-index: 99999;
  opacity: 0;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #000;
  font-weight: normal;
}

.ac-container h2 {
  box-sizing: border-box;
  margin: 0 0 14px 0;
  font-size: 26px;
  color: black;
  border-bottom: 1px solid #ccc;
  padding-bottom: 11px;
}

.ac-container h3 {
  box-sizing: border-box;
  color: yellow;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 26px;
}

.ac-container p {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  font-size: 14px;
  color: black;
  line-height: 20px;
}

.ac-container p strong {
  color: yellow;
}

.ac-container select,
.ac-container input {
  box-sizing: border-box;
  color: #555;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #ccc;
}

.ac-container input.day {
  box-sizing: border-box;
  width: 45px;
  height: 28px;
}

.ac-container input.year {
  box-sizing: border-box;
  width: 70px;
  height: 28px;
}

.ac-container select {
  box-sizing: border-box;
  height: 28px;
  padding-left: 4px;
}

.ac-container button {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 4px 10px 4px 10px;
  font-size: 12px;
  line-height: 1.5;
  width: 84px;
  background: #b83f3b;
  color: #fff;
  text-shadow: 1px 1px 0 #84A51D;
}

.ac-container button:hover {
  box-sizing: border-box;
  background: #fb534e;
}

.ac-container .errors {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  font-size: 12px;
  line-height: 18px;
  color: #FF1F1F;
}

.ac-container .errors ul,
.ac-container .errors li {
  box-sizing: border-box;
  padding: 0 0 3px 0;
  margin: 0 0 0 0;
  list-style: none;
}

.ac-container .errors li span {
  box-sizing: border-box;
  font-size: 9px;
  background: #ebebeb;
  border: 1px solid #ccc;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  display: inline-block;
  color: #FF1F1F;
  font-weight: bold;
  text-align: center;
  margin-right: 5px;
  line-height: 13px;
  position: relative;
  top: -2px;
  text-shadow: 1px 1px 0 #fff;
  font-family: arial;
}

.ac-container .fields {
  box-sizing: border-box;
  clear: both;
  margin: 10px 0 10px 0;
}

@media (max-width: 500px) {
  .ac-container {
    box-sizing: border-box;
    width: auto;
    margin-right: 20px;
    margin-left: 1px;
  }
  .ac-container select,
  .ac-container input.day,
  .ac-container input.year {
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
    width: 100%;
  }
  .ac-container button {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
}








@-webkit-keyframes drop {
  0% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }
@keyframes drop {
  0% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@-webkit-keyframes flyX {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(24vw, 0);
            transform: translate(24vw, 0); }
  30% {
    -webkit-transform: translate(22vw, 0);
            transform: translate(22vw, 0); }
  60% {
    -webkit-transform: translate(40vw, 0);
            transform: translate(40vw, 0); }
  100% {
    -webkit-transform: translate(80vw, 0);
            transform: translate(80vw, 0); } }

@keyframes flyX {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(24vw, 0);
            transform: translate(24vw, 0); }
  30% {
    -webkit-transform: translate(22vw, 0);
            transform: translate(22vw, 0); }
  60% {
    -webkit-transform: translate(40vw, 0);
            transform: translate(40vw, 0); }
  100% {
    -webkit-transform: translate(80vw, 0);
            transform: translate(80vw, 0); } }

@-webkit-keyframes flyY {
  0% {
    -webkit-transform: translate(0, 45vh);
            transform: translate(0, 45vh); }
  10% {
    -webkit-transform: translate(0, 40vh);
            transform: translate(0, 40vh); }
  25% {
    -webkit-transform: translate(0, 50vh);
            transform: translate(0, 50vh); }
  35% {
    -webkit-transform: translate(0, 60vh);
            transform: translate(0, 60vh); }
  65% {
    -webkit-transform: translate(0, 80vh);
            transform: translate(0, 80vh); }
  100% {
    -webkit-transform: translate(0, 100vh);
            transform: translate(0, 100vh); } }

@keyframes flyY {
  0% {
    -webkit-transform: translate(0, 45vh);
            transform: translate(0, 45vh); }
  10% {
    -webkit-transform: translate(0, 40vh);
            transform: translate(0, 40vh); }
  25% {
    -webkit-transform: translate(0, 50vh);
            transform: translate(0, 50vh); }
  35% {
    -webkit-transform: translate(0, 60vh);
            transform: translate(0, 60vh); }
  65% {
    -webkit-transform: translate(0, 80vh);
            transform: translate(0, 80vh); }
  100% {
    -webkit-transform: translate(0, 100vh);
            transform: translate(0, 100vh); } }

@-webkit-keyframes flyX2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  30% {
    -webkit-transform: translate(32vw, 0);
            transform: translate(32vw, 0); }
  100% {
    -webkit-transform: translate(90vw, 0);
            transform: translate(90vw, 0); } }

@keyframes flyX2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  30% {
    -webkit-transform: translate(32vw, 0);
            transform: translate(32vw, 0); }
  100% {
    -webkit-transform: translate(90vw, 0);
            transform: translate(90vw, 0); } }

@-webkit-keyframes flyY2 {
  0% {
    -webkit-transform: translate(0, 60vh);
            transform: translate(0, 60vh); }
  70% {
    -webkit-transform: translate(0, 80vh);
            transform: translate(0, 80vh); }
  100% {
    -webkit-transform: translate(0, 100vh);
            transform: translate(0, 100vh); } }

@keyframes flyY2 {
  0% {
    -webkit-transform: translate(0, 60vh);
            transform: translate(0, 60vh); }
  70% {
    -webkit-transform: translate(0, 80vh);
            transform: translate(0, 80vh); }
  100% {
    -webkit-transform: translate(0, 100vh);
            transform: translate(0, 100vh); } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

*:focus {
  outline: 0 !important; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

::-moz-selection {
  background-color: #e7e0c4; }

::selection {
  background-color: #e7e0c4; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 0.03rem;
  line-height: 1.8;
  color: #44503f;
  background-color: #fff;
  padding: 0;
  text-rendering: optimizeLegibility; }

.heading-primary {
  font-size: 5.6rem;
  font-family: 'Rochester', cursive;
  color: #44503f;
  font-weight: 300;
  text-transform: none;
  line-height: 1.6; }

.heading-secondary {
  color: #44503f;
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: 300;
  word-spacing: 0.5rem;
  margin-bottom: 1.6rem; }

.heading-tertiary {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 1.6rem; }

.heading-bold {
  font-weight: 400; }

.heading-tiny {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-weight: 400; }

.paragraph {
  margin: 0 auto;
  width: 70%; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      width: 90%; } }
  @media only screen and (max-width: 37.5em) {
    .paragraph {
      width: 100%; } }

.pricetag {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #fff; }

.price {
  font-size: 1.6rem;
  font-weight: 500; }

.card__title {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase; }

.card__description {
  font-size: 1.4rem;
  line-height: 1.4; }

.u-center-text {
  text-align: center !important; }

.u-center {
  margin-right: auto !important;
  margin-left: auto !important;
  display: block !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn,
.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 1rem 1.6rem;
  font-weight: 300;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s; }

.btn-full,
.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #44503f;
  border: 1px solid #44503f;
  color: #fff; }

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #44503f; }

.btn-full:hover,
.btn-full:active {
  border: 1px solid rgba(187, 183, 223, 0.5); }

.btn-outline,
.btn-outline:link,
.btn-outline:visited {
  border: 1px solid #44503f;
  color: #44503f; }

.btn-outline:hover,
.btn-outline:active {
  color: #fff;
  border: 1px solid #44503f; }

.card {
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
  @media only screen and (max-width: 37.5em) {
    .card:not(:last-child) {
      margin-bottom: 2.5rem; } }
  .card__wrapper {
    margin: 0.5rem;
    position: relative;
    border-radius: 2px;
    padding: 2rem;
    background-color: #c4c4a1;
    color: #44503f;
    text-align: center; }
  .card__description {
    min-height: 5rem; }
  .card img {
    height: 16rem;
    margin: 1rem auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    border: solid 2px #fff;
    -webkit-transition: -webkit-transform 1s ease-out;
    transition: -webkit-transform 1s ease-out;
    transition: transform 1s ease-out;
    transition: transform 1s ease-out, -webkit-transform 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .card img {
        min-height: 35vh; } }
  .card:hover {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem); }
    @media only screen and (max-width: 56.25em) {
      .card:hover {
        -webkit-transform: translateY(-1rem) rotate(-2deg);
                transform: translateY(-1rem) rotate(-2deg); } }

@media only screen and (max-width: 37.5em) {
  .grid-item:not(:last-child) {
    margin-bottom: 2.5rem; } }

.grid-figure {
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  margin: 0.5rem; }
  .grid-figure figcaption {
    position: absolute;
    bottom: 2rem;
    left: 0;
    max-width: 90%;
    padding: 1rem;
    background: rgba(68, 80, 63, 0.8);
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    @media only screen and (max-width: 37.5em) {
      .grid-figure figcaption {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        position: relative;
        bottom: -100%;
        max-width: 100%;
        text-align: center;
        font-size: 100%; } }
  .grid-figure img {
    width: 100%;
    display: block;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .grid-figure:hover figcaption {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .grid-figure:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
    @media only screen and (max-width: 56.25em) {
      .grid-figure:hover img {
        -webkit-transform: none;
                transform: none; } }

.showing {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.scope {
  position: relative;
  width: 55rem;
  height: 55rem;
  border-radius: 50%;
  margin: 0 auto;
  background-image: url(../img/collection/0.jpg);
  background-size: contain;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #ededed; }
  .scope::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 37.5em) {
    .scope {
      width: 80vw;
      height: 80vw;
      background-size: cover; } }
  .scope__overlay {
    content: "";
    width: 55rem;
    height: 55rem;
    border-radius: 50%;
    background: radial-gradient(rgba(68, 80, 63, 0.6), rgba(68, 80, 63, 0.4));
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease; }
    @media only screen and (max-width: 37.5em) {
      .scope__overlay {
        width: 80vw;
        height: 80vw;
        background-size: cover; } }
  .scope:hover .scope__overlay {
    opacity: 1;
    visibility: visible; }
  .scope:hover .scope__label {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease; }
  .scope__label {
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 90%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
    @media only screen and (max-width: 37.5em) {
      .scope__label {
        top: 50%; } }
  .scope__text-2 {
    margin: 1rem 25%; }
    @media only screen and (max-width: 37.5em) {
      .scope__text-2 {
        margin: 1rem 15%; } }

.grid {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto; }
  .grid::after {
    content: "";
    display: table;
    clear: both; }
  .grid div[class*="col-"] {
    float: left; }
    .grid div[class*="col-"] img {
      width: 100%; }
  .grid .col-1-of-4 {
    width: calc(100%/4); }
    @media only screen and (max-width: 75em) {
      .grid .col-1-of-4 {
        width: calc(100%/3) !important; } }
    @media only screen and (max-width: 56.25em) {
      .grid .col-1-of-4 {
        width: calc(100%/2) !important; } }
    @media only screen and (max-width: 37.5em) {
      .grid .col-1-of-4 {
        width: 100% !important; } }
  .grid .col-1-of-5 {
    width: calc(100% / 5); }
    @media only screen and (max-width: 56.25em) {
      .grid .col-1-of-5 {
        width: calc(100%/4) !important; } }
    @media only screen and (max-width: 37.5em) {
      .grid .col-1-of-5 {
        width: calc(100%/3) !important; } }
  .grid .col-3-of-5 {
    width: calc(3 * (100% / 5)); }
    @media only screen and (max-width: 56.25em) {
      .grid .col-3-of-5 {
        width: calc(100%/2) !important; } }
    @media only screen and (max-width: 37.5em) {
      .grid .col-3-of-5 {
        width: calc(100%/3) !important; } }

.header {
  position: relative;
  height: 95vh;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 100vh; } }
  .header__shade {
    opacity: 0.08;
    width: 100vw;
    height: 100vh;
    background: url(../img/shade.svg);
    background-size: cover;
    background-position: top-right;
    background-repeat: no-repeat; }
  .header__flower {
    width: 1.2rem;
    opacity: 0.9;
    position: absolute;
    left: -1rem;
    top: 5%;
    -webkit-animation: flyX 20s ease-in infinite;
            animation: flyX 20s ease-in infinite; }
    @media only screen and (max-width: 37.5em) {
      .header__flower {
        -webkit-animation: flyX2 20s ease-in infinite;
                animation: flyX2 20s ease-in infinite; } }
    .header__flower-svg {
      -webkit-animation: flyY 20s ease-out infinite;
              animation: flyY 20s ease-out infinite; }
      @media only screen and (max-width: 37.5em) {
        .header__flower-svg {
          -webkit-animation: flyY2 20s ease-out infinite;
                  animation: flyY2 20s ease-out infinite; } }
  .header__middle-2 {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0); }
  .header__textbox {
    text-align: center;
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 48%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(0);
            transform: translate(-50%, -50%) translateZ(0); }
    @media only screen and (max-width: 37.5em) {
      .header__textbox {
        top: 35%;
        left: 50%; } }
    .header__textbox-content {
      color: #44503f; }
  .header__display {
    width: 18rem;
    position: absolute;
    bottom: 0rem;
    left: 22%; }
    @media only screen and (max-width: 75em) {
      .header__display {
        left: 15%; } }
    @media only screen and (max-width: 56.25em) {
      .header__display {
        left: 10%; } }
    @media only screen and (max-width: 37.5em) {
      .header__display {
        height: 55vh;
        width: auto;
        left: 55%; } }
  .header__back {
    position: absolute;
    bottom: -5rem;
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
    background-size: 90rem;
    background-image: url(../img/back-lavender.png);
    background-position: 0% 100%; }
    @media only screen and (max-width: 37.5em) {
      .header__back {
        background-size: 70rem;
        bottom: 0rem; } }
  .header__fore {
    position: absolute;
    bottom: -17rem;
    height: 100%;
    width: 100%;
    background-size: 90rem;
    background-repeat: repeat-x;
    background-image: url(../img/fore-lavender.png);
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */
    background-position: 0% 100%; }
    @media only screen and (max-width: 37.5em) {
      .header__fore {
        background-size: 70rem;
        bottom: -10rem; } }




.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  padding: 4rem;
  padding-top: 10rem;
  background-color: #2C1A0F;
  color: #6c5e43;
  font-size: 1.4rem;
  font-weight: 400; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 6rem 3rem; } }
  .footer__help, .footer__social {
    padding: 1rem 4rem; }
    @media only screen and (max-width: 75em) {
      .footer__help, .footer__social {
        padding: 1rem 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .footer__help, .footer__social {
        padding: 1rem 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__help, .footer__social {
        padding: 1rem 0rem; } }
    .footer__help ul, .footer__social ul {
      list-style: none; }
      .footer__help ul a, .footer__social ul a {
        text-decoration: none;
        color: #c9bd68;
        font-weight: 300; }
        .footer__help ul a:hover, .footer__social ul a:hover {
          color: #592bff; }
  .footer__signup {
    text-align: center;
    padding-top: 1rem; }
    .footer__signup .btn {
      margin: 1.5rem auto; }
    .footer__signup p {
      width: 60%;
      margin: 0 auto; }
      @media only screen and (max-width: 56.25em) {
        .footer__signup p {
          width: 100% !important; } }
  .footer__logo {
    height: 5rem;
    opacity: 0.6;
    margin: 1rem auto;
    display: block; }
  .footer__copyright {
    text-align: center;
    font-weight: 300;
    font-size: 1.3rem;
    padding-top: 2rem; }
  .footer__portfolio-link {
    padding-top: 2rem;
    font-size: 1.6rem;
    text-transform: uppercase; }

.content {
  position: relative;
  margin-bottom: 42rem;
  background-color: #fff1e7;
  overflow: hidden;
  -webkit-box-shadow: 1rem 0 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 1rem 0 1rem rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 37.5em) {
    .content {
      margin-bottom: 50rem; } }

.section-about,
.section-new,
.section-best,
.section-collections {
  position: relative;
  padding: 8rem 20rem; }
  @media only screen and (max-width: 75em) {
    .section-about,
    .section-new,
    .section-best,
    .section-collections {
      padding: 8rem 15rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-about,
    .section-new,
    .section-best,
    .section-collections {
      padding: 8rem 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-about,
    .section-new,
    .section-best,
    .section-collections {
      padding: 6rem 4rem; } }
  .section-about .row,
  .section-new .row,
  .section-best .row,
  .section-collections .row {
    position: relative; }
  .section-about .btn,
  .section-new .btn,
  .section-best .btn,
  .section-collections .btn {
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    margin-top: 1.6rem; }

.section-about {
  padding-bottom: 2rem; }
  .section-about__heading h2 {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; }
  .section-about .btn {
    z-index: 1; }

.decor-left {
  width: 9vw;
  position: absolute;
  bottom: -10rem;
  left: -3.5rem;
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  @media only screen and (max-width: 75em) {
    .decor-left {
      bottom: -15rem; } }

.decor-right {
  width: 9vw;
  position: absolute;
  bottom: -30rem;
  right: -2rem;
  -webkit-transform-origin: 80% 90%;
          transform-origin: 80% 90%; }
  @media only screen and (max-width: 75em) {
    .decor-right {
      bottom: -15rem; } }

.section-collections {
  padding-bottom: 15rem; }























